version: "3"

services:
  detector:
    container_name: detector
    build:
      context: detector
      dockerfile: dockerfile
    ports:
      - 5000:5000
    environment:
      - NUMBER_OF_DETECTION_THREADS=1
      - DISABLE_JIT=1
    depends_on:
      - streamer

  streamer:
    container_name: streamer
    build:
      context: streamer
      dockerfile: dockerfile
    devices:
      - "/dev/video0"
    volumes:
      - ./media:/media

    
    
    